.card {
    margin: 2% 2% 2% 5%;
    border-style: double;
    /* border-width: 1px;
    border-color: black; */
    display: block;
    align-items: baseline;
    justify-content: center;
}

.card>* {
    pointer-events: none;
}

.favoritoCategorias>* {
    pointer-events: all;
}

.publicacao {
    margin: 1% 1% 1% 1%;
    border-style: double;
    /* border-width: 1px; */
    border-radius: 0px 10px 10px;
    background-color: var(--color-branco);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.descricaoCard {
    max-width: 90%;
    min-height: 100px;
    max-height: max-content;
    align-content: center;
}

.favoritoCategorias {
    display: flex;
    width: 90%;
    margin: 10px 0px;
    max-height: min-content;
    /* max-width: max-content; */
    align-content: center;
    justify-content: space-between;
}

.favoritoCategorias ul {
    display: flex;
    max-width: min-content;
}

.favoritoCategorias ul li {
    margin: 0px 10px 0px 0px;
}