@import url(styles.css);

h1{
    padding: 15px;
    margin: 2rem 2rem;
    text-align: center;
    background-color: var(--color-verde-intermediario);
    font-size: 1.5rem;
}

.formulario{
}

.campos{

    margin: auto;
    padding: 2% ;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-verde-medio);
}

.formulario input[type=file] {
    display: flex;
    width: 100px;
    height: 100px;
    align-content: end;
    background-color: var( --color-fundo);
} 