@import url(./styles.css);
@import url(./card.css);

.banner {
    display: flex;
    padding: 4%;
    width: -webkit-fill-available;
    max-height: 350px;
}

.carrossel {
    /* position: relative; */
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    margin: 0 5%;
}
.cardFormulario{
    background-color: var(--color-fundo);
    /* position: sticky; */
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-behavior: smooth;
}

#categoriasPosts{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#categoriasPosts a {
    padding: 20px;
}

.novasPublicacoes {
    background-color: var(--color-verde-intermediario);
    padding: 1% 1%;
    margin: 0 4%;
}

.cardFormulario {
    border: 1px solid;
    padding: 1%;
    width: 150px;
    margin: 10px;
}

.cardFormulario>* {
pointer-events: none;
}

.cardFormulario__Imagem {
    width: 100px;
    height: 100px;
}

.cardFormulario__paragrafo {
    color: var(--color-verde-escuro);
}

a {
    text-decoration: none;
}