@import url(/src/css/styles.css);

.logo {
    height: 45px;
    width: 45px;
}

.menu_completo {
    display: inline-block;
    flex-direction: column;
}

.menu_completo button {
    display: flex;
    background-color: var(--color-transparente);
    border-color: var(--color-transparente);
}

#menu_superior {
    display: none;
}