@import url(styles.css);

.publicacao{
    display:block;
    width: 90%;
    margin: auto;
}

h1{
    text-align: center;
}

.UsuarioDataPublicacao{
    display: flex;
    justify-content: space-between ;
}

.publicacao ul{
    display: flex;
}

#categorias li {
    padding: 10px;
    margin: 10px;
    background-color: var( --color-verde-medio);
}