@import url(/src/css/styles.css);

#cardInfo{
    margin: auto;
    width: 100%;
    height: 200px;
    text-align: center;
    margin-bottom: 100px;
}

#cardInfo div{
    margin: 50px;
    background-color: #0CABAB;
    width: 350px;
    height: 180px;
    display: inline-block;
}

#cardInfo div p{
    padding: 10px;
    font-size: 30px;
}

#cardQuiz{
    margin: auto;
    background-color: #74CECD;
    width: 1255px;
    height: 100px;
    margin-top: 35px;
    text-align: center;
    padding: 5px;
}

#cardQuiz p{
    display: inline-block;
    margin-left: 300px;
    font-size: 30px;
}

#cardQuiz button{
    margin-left:50px;
    width: 300px;
    height: 50px;
    background-color: #015958;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

#cardQuiz button:hover{
    color: red;
}