@import url(/css/styles.css);

#cardInfo{
    margin: auto;
    width: 100%;
    height: 200px;
    text-align: center;
    margin-bottom: 100px;
}

#cardInfo div{
    margin: 50px;
    background-color: #0CABAB;
    width: 350px;
    height: 180px;
    display: inline-block;
}

#cardInfo div p{
    padding: 10px;
    font-size: 30px;
}

#cardQuiz{
    margin: auto;
    background-color: #74CECD;
    width: 1255px;
    height: 100px;
    margin-top: 35px;
    text-align: center;
    align-items: center;
    padding: 5px;
}

#cardQuiz #nomeQuiz{
    display: inline-block;
    font-size: 30px;
    float: left;
}

#cardQuiz #porcentagem{
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    font-size: 30px;
    float: left;
}

#cardQuiz button{
    float:right;
    margin-top:22px;
    width: 300px;
    height: 50px;
    background-color: #015958;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

#cardQuiz button:hover{
    color: red;
}