@import url(./reset.css);
@import url(./menus.css);

:root {
    --color-transparente: #ffffff00;
    --color-branco: #ffffff;
    --color-fundo: #F5F5F5;
    --color-cancelar: #A52502;
    --color-verde-claro: #0FC2C0;
    --color-verde-medio: #0CABAB;
    --color-verde-intermediario: #008F8C;
    --color-verde-escuro: #015958;
}

body {
    background-color: var(--color-fundo);
}

.logo{
    width: 95px;
    height: 95px;
}
/* Imagem Perfil Usuario */
#imagem{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

/* icones */
.favoritar {
    height: 30px;
    width: 30px;
    background-color: #ffffff00;
    border-color: #ffffff00;
    background-image: url('../img/Icons/favorite.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.deletar {
    height: 30px;
    width: 30px;
    background-color: #ffffff00;
    border-color: #ffffff00;
    background-image: url('../img/Icons/delete.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.editar {
    height: 30px;
    width: 30px;
    background-color: #ffffff00;
    border-color: #ffffff00;
    background-image: url('../img/Icons/edit.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.resetar {
    height: 30px;
    width: 30px;
    background-color: #ffffff00;
    border-color: #ffffff00;
    background-image: url('../img/Icons/restart_alt.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Botões */

.excluir {
    height: 30px;
    width: 30px;
    background-color: #ffffff00;
    border-color: #ffffff00;
    background-image: url('../img/Icons/delete.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cancelar {
    background-color: var(--color-cancelar);
    height: 40px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
}

.confirmar {
    background-color: var(--color-verde-intermediario);
    height: 40px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
}
.botaoEditar{
    background-color: var(--color-verde-intermediario);
    height: 40px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
}