@import url(/css/styles.css);

#telaInicialQuiz {
    background-color: #D9D9D9;
    width: 1300px;
    height: 600px;
    margin: auto;
}

#areaTexto {
    height: 50%;
    text-align: center;
}

#areaTexto h1 {
    padding-top:150px;
}

#areaBotoes {
    height: 50%;
    text-align: center;
    padding-top:150px;
}

#areaBotoes button {
    margin:0px 100px 0px 100px;
}

#areaBotoes #botaoVoltar {
    background-color: #A52502;
    width: 150px;
    height: 75px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
}

#areaBotoes #botaoIniciar {
    background-color: #1C8394;
    width: 150px;
    height: 75px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
}